@media screen and (max-width: 600px) {
  .hamburguer {
    display: block;
    width: 30px;
    height: 30px;
    background-image: url("../img/hamburguer.svg");
    position: absolute;
    z-index: 1;
    cursor: pointer;
    right: 30px;
    top: 30px; }
  .slider .logo {
    display: block;
    margin: 0 auto; }
  .slider .main-menu {
    display: none; }
  .slider h4 {
    margin-top: 62px;
    font-size: 16px; }
  .slider h1 {
    font-size: 25px; }
  .slider .read {
    width: 138px;
    height: 40px;
    font-size: 15px;
    line-height: 42px; }
  .sections h2 {
    font-size: 23px; }
  .sections .subtitle {
    font-size: 13px; }
  .sections .items article {
    width: 96%;
    margin: 0 2% 40px; }
  footer .content-footer {
    padding-top: 13px; }
  footer .text {
    font-size: 14px; }
  footer form {
    max-width: 100%; }
  footer select,
  footer input[type="text"],
  footer input[type="submit"] {
    width: 96%;
    margin-bottom: 10px;
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 6px;
    box-sizing: border-box;
    height: 37px; }
  footer select,
  footer input[type="text"] {
    margin-bottom: 10px; } }
